{% extends 'base.html.twig' %}

{% block title %}
    Detail {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    <div>{{ wish.description }}</div>
    <div>{{ wish.author }}</div>
    <div>{{ wish.dateCreated | date("Y-m-d")}}</div>
{% endblock %}

